@{
    ViewBag.Title = "Feedback";
}


<main>
    <div class="row">
        <section class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h2>Feedback</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label class="form-label" for="name">Name</label>
                            <input class="form-control" id="name" type="text" name="name" value="" placeholder="Enter your name here" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" id="email" type="text" name="email" value="" placeholder="Enter your email address here" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label class="form-label" for="feedback">Feedback</label>
                            <textarea class="form-control" id="feedback" name="feedback" placeholder="Enter your feedback here" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <button class="btn btn-primary mt-4" id="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

@section scripts {
    <script>
        $(document).on('click', '#submit', function () {
            $.ajax({
                url: '/Feedback/SendFeedback',
                type: 'POST',
                data: {
                    name: $('#name').val(),
                    email: $('#email').val(),
                    message: $('#feedback').val()
                },
                success: function (data) {
                    alert('Feedback submitted successfully');
                    // clear the form
                    $('#name').val('');
                    $('#email').val('');
                    $('#feedback').val('');
                },
                error: function (data) {
                    alert('An error occurred while submitting feedback');
                }
            });
        });
    </script>
}
