@{
    ViewBag.Title = "Email Set Up";
}


<main>
    <div class="row">
        <section class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h1>Coming Soon</h1>
                </div>
            </div>
        </section>
    </div>
</main>

@section scripts {

}
