
@{
    ViewBag.Title = "Home";
}

@section styles {
    <style>
        .link-container {
            width: 100%;
            height: 150px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            background-color: var(--card-bg);
            border-radius: 55px;
            margin: 5px;
            border: 5px solid var(--card-bg);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }
        .link-container:hover {
            border: 5px solid var(--accent1);
        }
        .link-container i {
            font-size: 40px;
            color: var(--accent1);
        }
    </style>    
}

<main>
    <div class="row">
        <div class="col-md-4">
            <div id="students" class="link-container">
                <i class="uil uil-graduation-cap"></i>
                <label class="form-label">Students</label>
            </div>
        </div>
        <div class="col-md-4">
            <div id="socitety" class="link-container">
                <i class="uil uil-users-alt"></i>
                <label class="form-label">Society Setup</label>
            </div>
        </div>
        <div class="col-md-4">
            <div id="email" class="link-container">
                <i class="uil uil-envelope-add"></i>
                <label class="form-label">Email Setup</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div id="staff" class="link-container">
                <i class="uil uil-user-md"></i>
                <label class="form-label">Staff</label>
            </div>
        </div>
        <div class="col-md-4">
            <div id="feedback" class="link-container">
                <i class="uil uil-feedback"></i>
                <label class="form-label">Feedback</label>
            </div>
        </div>
        <div class="col-md-4">
            <div id="settings" class="link-container">
                <i class="uil uil-setting"></i>
                <label class="form-label">Settings</label>
            </div>
        </div>
    </div>
</main>

@section scripts {
    <script>
        // Add click event to each link-container
        $(document).on('click', '.link-container', function () {
            var id = $(this).attr('id');
            switch (id) {
                case 'students':
                    window.location.href = '/Student/Index';
                    break;
                case 'socitety':
                    window.location.href = '/Society/Index';
                    break;
                case 'email':
                    window.location.href = '/EmailSetUp/Index';
                    break;
                case 'staff':
                    window.location.href = '/Staff/Index';
                    break;
                case 'feedback':
                    window.location.href = '/Feedback/Index';
                    break;
                case 'settings':
                    window.location.href = '/Home/Settings';
                    break;
            }
        });
    </script>    
}
