@{
    ViewBag.Title = "Home Page";
}

<main>

    <div class="row">
        <section class="col-md-12" aria-labelledby="gettingStartedTitle">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <table id="test-table" class="w-100">
                                <thead class="sticky">
                                    <tr>
                                        <th>Club Name</th>
                                        <th>Position</th>
                                        <th>Name</th>
                                        <th>Pref. Name</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Agreement</th>
                                        <th>Training</th>
                                        <th>Membership</th>
                                        <th>Food</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">

        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">

        </section>
    </div>
</main>

@section scripts {
    <script>
        $(document).ready(function () {
	        $.ajax({
		        url: '@Url.Action("GetSUTest", "Home")',
		        type: 'GET',
		        dataType: 'json',
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var row = '<tr>' +
                            '<td>' + data[i].Club_Name + '</td>' +
                            '<td>' + data[i].Position + '</td>' +
                            '<td>' + data[i].Student_Name + '</td>' +
                            '<td>' + data[i].Preferred_Name + '</td>' +
                            '<td>' + data[i].Phone_Number + '</td>' +
                            '<td>' + data[i].Email_Address + '</td>' +
                            '<td>' + data[i].Agreement_Signed + '</td>' +
                            '<td>' + data[i].Training_Complete + '</td>' +
                            '<td>' + data[i].Membership_Purchased + '</td>' +
                            '<td>' + data[i].Food_Certified + '</td>' +
                            '</tr>';
                        $('#test-table tbody').append(row);
                    }
		        },
		        error: function (error) {
			        console.error(error);
		        }
	        });
        });
    </script>   
}