@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="row">
        <section class="col-md-12" aria-labelledby="gettingStartedTitle">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="datatable-header-container sticky">
                                <button id="filter" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#filterOffCanvas" aria-controls="filterOffCanvas">Filter</button>
                                <button id="add" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">Add</button>
                                <button id="edit" class="btn btn-primary">Edit</button>
                                <input type="search" id="search" class="form-control" placeholder="Search" />
                                <button id="export" class="btn btn-primary">Export</button>
                                <button id="sendEmail" class="btn btn-primary">Email</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <table id="test-table" class="w-100 dataTable nowrap">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

<div class="offcanvas offcanvas-start" tabindex="-1" id="filterOffCanvas" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
        </div>
        <div class="dropdown mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
                Dropdown button
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal modal-lg fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row form-container">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="clubName">Club Name</label>
                            <input class="form-control"  id="clubName" type="text">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="position">Position</label>
                            <input class="form-control"  id="position" type="text">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="name">Name</label>
                            <input class="form-control"  id="name" type="text">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="prefName">Preferred Name</label>
                            <input class="form-control"  id="prefName" type="text">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="phoneNum">Phone Number</label>
                            <input class="form-control"  id="phoneNum" type="text">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="email">Email Address</label>
                            <input class="form-control"  id="email" type="text">
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="d-flex align-items-center float-end">
                            <label class="form-check-label" for="agreement">Agreement Signed:</label>
                            <input id="agreement" type="checkbox" class="form-check" style="margin-left: 10px; margin-top: 2px;" />
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="d-flex align-items-center float-end">
                            <label class="form-check-label" for="training">Training Complete:</label>
                            <input id="training" type="checkbox" class="form-check" style="margin-left: 10px; margin-top: 2px;" />
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="d-flex align-items-center float-end">
                            <label class="form-check-label" for="membership">Membership Purchased:</label>
                            <input id="membership" type="checkbox" class="form-check" style="margin-left: 10px; margin-top: 2px;" />
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="d-flex align-items-center float-end">
                            <label class="form-check-label" for="food">Food Certified:</label>
                            <input id="food" type="checkbox" class="form-check" style="margin-left: 10px; margin-top: 2px;" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="saveAddModal" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Email Modal -->
<div class="modal modal-lg fade" id="emailModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row form-container">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="clubName">Club Name</label>
                            <input class="form-control" id="clubName" type="text">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="position">Position</label>
                            <input class="form-control" id="position" type="text">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="name">Name</label>
                            <input class="form-control" id="name" type="text">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="prefName">Preferred Name</label>
                            <input class="form-control" id="prefName" type="text">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="phoneNum">Phone Number</label>
                            <input class="form-control" id="phoneNum" type="text">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="email">Email Address</label>
                            <input class="form-control" id="email" type="text">
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="d-flex align-items-center float-end">
                            <label class="form-check-label" for="agreement">Agreement Signed:</label>
                            <input id="agreement" type="checkbox" class="form-check" style="margin-left: 10px; margin-top: 2px;" />
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="d-flex align-items-center float-end">
                            <label class="form-check-label" for="training">Training Complete:</label>
                            <input id="training" type="checkbox" class="form-check" style="margin-left: 10px; margin-top: 2px;" />
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="d-flex align-items-center float-end">
                            <label class="form-check-label" for="membership">Membership Purchased:</label>
                            <input id="membership" type="checkbox" class="form-check" style="margin-left: 10px; margin-top: 2px;" />
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="d-flex align-items-center float-end">
                            <label class="form-check-label" for="food">Food Certified:</label>
                            <input id="food" type="checkbox" class="form-check" style="margin-left: 10px; margin-top: 2px;" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="saveAddModal" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var table;
        $(document).ready(function () {
            table = $('#test-table').DataTable({ // Initialize DataTable on your table
                "ajax": {
                    "url": '@Url.Action("GetSUTest", "Home")', // The URL to the server-side data
                    "dataSrc": "", // Assuming the returned data is an array at the root level
                    "type": "GET", // Method type
                    "dataType": 'json' // Data type expected from the server
                },
                "dom": 'Bt', // Add the buttons to the DOM
                "buttons": [ // Define the buttons
                    {
                        extend: 'excelHtml5', // Extend the buttons
                        text: 'Export', // Button text
                        className: 'btn btn-success', // Button class
                        title: '', // Title of the Excel file
                        exportOptions: {
                            columns: [1, 2, 4, 5, 7, 8, 9, 10, 11, 12], // Columns to export
                            format: {
                                body: function (data, row, column, node) {
                                    // Check for icons and replace with TRUE or FALSE
                                    if (data.indexOf('uis-check-circle') > -1) {
                                        return 'TRUE';
                                    } else if (data.indexOf('uis-times-circle') > -1) {
                                        return 'FALSE';
                                    }
                                    return data;
                                }
                            }
                        },
                        filename: 'HSU-Test-Data' // File name
                    }
                ],
                "serverSide": false, // Server-side processing
                "order": [[0, "asc"]], // Initial sorting column
                "paging": false, // Enable paging
                "searching": true, // Enable searching
                "columnDefs": [
                    { "title": "Club", targets: 0 },
                    { "title": "Club Name", "targets": 1 },
                    { "title": "Position", "targets": 2 },
                    { "title": "Name", "targets": 3 },
                    { "title": "Student Name", targets: 4 },
                    { "title": "Pref. Name", "targets": 5 },
                    { "title": "Contact", "targets": 6 },
                    { "title": "Phone", "targets": 7 },
                    { "title": "Email", "targets": 8 },
                    { "title": "Agreement", "targets": 9 },
                    { "title": "Training", "targets": 10 },
                    { "title": "Membership", "targets": 11 },
                    { "title": "Food", "targets": 12 },
                    { "className": "text-center", "targets": [9, 10, 11, 12] },
                    { "visible": false, "targets": [1, 2, 4, 5, 7, 8] }
                ],
                "columns": [ // Define columns and map them to data source properties
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            return `<label>Club: </label> <text class="float-end">${row.Club_Name}</text></br>
                                    <label>Position: </label><text class="float-end">${row.Position}</text>`;
                        },
                        width: '250px'
                    },
                    { "data": "Club_Name" },
                    { "data": "Position" },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            return `<label>Name: </label> <text class="float-end">${row.Student_Name}</text></br>
                                    <label>Pref: </label><text class="float-end">${row.Preferred_Name}</text>`;
                        }
                    },
                    { "data": "Student_Name" },
                    { "data": "Preferred_Name" },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            return `<label>Phone: </label><text class="float-end">${row.Phone_Number}</text></br>
                                    <label>Email: </label><text class="float-end">${row.Email_Address}</text>`;
                        }
                    },
                    { "data": "Phone_Number" },
                    { "data": "Email_Address" },
                    {
                        "data": "Agreement_Signed",
                        render: function (data) {
                            return convToIcon(data);
                        }
                    },
                    {
                        "data": "Training_Complete",
                        render: function (data) {
                            return convToIcon(data);
                        }
                    },
                    {
                        "data": "Membership_Purchased",
                        render: function (data) {
                            return convToIcon(data);
                        }
                    },
                    {
                        "data": "Food_Certified",
                        render: function (data) {
                            return convToIcon(data);
                        }
                    },
                ]
            });
        });

        $(document).on("click", "tbody tr", function (e) {
            $(e.target).closest('tr').toggleClass('clicked');
        });

        $(document).on("click", "#export", function () {
            table.button('.buttons-excel').trigger();
        });

        $(document).on("keyup", "#search", function () {
            table.search($(this).val()).draw();
        });

        $(document).on("click", "#add", function () {
            $('#addModal').modal('show');
        });

        $(document).on("click", "#saveAddModal", function () {
            // Update the database
            $.ajax({
                url: '@Url.Action("AddEntryToSUTest", "Home")',
                type: 'POST',
                data: {
                    Club_Name: $('#clubName').val(),
                    Position: $('#position').val(),
                    Student_Name: $('#name').val(),
                    Preferred_Name: $('#prefName').val(),
                    Phone_Number: $('#phoneNum').val(),
                    Email_Address: $('#email').val(),
                    Agreement_Signed: $('#agreement').is(':checked'),
                    Training_Complete: $('#training').is(':checked'),
                    Membership_Purchased: $('#membership').is(':checked'),
                    Food_Certified: $('#food').is(':checked')
                },
                success: function (data) {
                    $('#addModal').modal('hide');
                    table.ajax.reload();
                }
            });
        });

        function convToIcon(data) {
            return data === true ? '<i class="uis uis-check-circle"></i>' : '<i class="uis uis-times-circle"></i>';
        }
    </script>
}