/* Light Mode */
:root {
    --ct-card-bg: #f8f9fa;
    --ct-body-bg: #e5e5e5;
    --ct-font-color: #000000;
    --ct-error-color: #FF1122;
    --ct-nav-bg: #e72981;
    --ct-nav-font-color: #ffffff;
    --ct-nav-height: 50px;
}
/* Dark Mode */
body[theme="dark"] {
    --ct-card-bg: #36454f;
    --ct-body-bg: #343a40;
    --ct-font-color: #f8f9fa;
    --ct-error-color: #FF1122;
    --ct-nav-bg: #b82067;
    --ct-nav-font-color: #ffffff;
}

body {
    color: var(--ct-font-color);
    background-color: var(--ct-body-bg);
    transition: all ease-in-out 0.3s;
}

.card {
    background-color: var(--ct-card-bg);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 30px;
    color: var(--ct-font-color);
}

.field-validation-error {
    color: var(--ct-error-color)
}
.input-validation-error {
    border-color: var(--ct-error-color);
}
/* Form Elements */
.btn {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    padding: 6px 20px 10px 20px;
}
input.form-control {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--ct-font-color);
}

[class*="control"] {
    color: var(--ct-font-color);
}

.body-content {
    padding-top: calc(1rem + var(--ct-nav-height));
}

nav {
    background-color: var(--ct-nav-bg);
    color: var(--ct-nav-font-color);
    box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.2);
    position: fixed !important;
    z-index: 1000;
    margin-top: 0;
    width: 100%;
    height: var(--ct-nav-height);
}

.navbar-brand, .nav-link {
    color: var(--ct-nav-font-color);
}

.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: calc(1rem + var(--ct-nav-height));
    z-index: 1;
}